[Run]
Output Path =
Run time = 60

[Sampling]
Pre-Trigger Window  = 10e-6
Post-Trigger Window = 10e-6
Time Base           = 20
Captures Per Block  = 1000

[Channel A]
Coupling            = DC
Range               = 10
Baseline Correction = False
Timing              = PEAK
Trigger Enabled     = True
Trigger Type        = LEVEL
Trigger Direction   = RISING
Threshold           = 0.2

[Channel B]
Coupling            = DC
Range               = 10
Baseline Correction = False
Timing              = PEAK
Trigger Enabled     = True
Trigger Type        = LEVEL
Trigger Direction   = RISING
Threshold           = 0.2
